$primary-black: #b8b8b8;
$primary-bacground: #fff;
$focus-content: #ffa500;
$form-button: #ffa600ac;
$error-viewer: #fe3636de;
$profil-color: #f0ffffb5;
$black-content: #000;
$file-button-border: #d0d0d0;
$background-left-slide: cadetblue;
